svg.force-graph(width=width, height=height)
    g.edge-group
    g.node-group

    if addCenterCircle
        circle.center-circle(r='5', fill='black', stroke='black', stroke-width='1px', cx = width / 2, cy = height / 2)