.flex
    .title Node Info
    .btn-close X
.group
    .label Name
    .name=name
each value, name in constantAttributes
    .group
        .label=name
        .value=value
.group
    .label Tags
    .tags