.flex
    .title Node Info
    .btn-close X
.group
    .label Name
    .name=name
each staticAttribute in staticAttributes
    .group
        .label=staticAttribute.group
        .value=staticAttribute.value
.group
    .label Tags
    .tags